@model FinalProjectMVC.ViewModels.LoginViewModel

<h2>Login Page</h2>

<form asp-controller="Homepage" asp-action="Login" method="post">
    <label asp-for="Username"></label>
    <input asp-for="Username" />
    <span asp-validation-for="Username"></span>

    <label asp-for="Password"></label>
    <input type="password" asp-for="Password" />
    <span asp-validation-for="Password"></span>

    <input type="submit" value="Submit" />
</form>
